<div class="c-login">
  <form>
    <mat-form-field class="c-login__input">
      <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field class="c-login__input">
      <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-button (click)="onLoginSubmit()">Log In</button>
  </form>
</div>
