<section class="c-profile">
    <div *ngIf="user; else noInfo" class="c-profile__info">
        <h1 class="c-profile__heading">Profile Info</h1>
        <mat-list>
            <mat-list-item>
                Name: {{user?.name}}
            </mat-list-item>
            <mat-list-item>
                Username: {{user?.username}}
            </mat-list-item>
            <mat-list-item>
                E-mail: {{user?.email}}
            </mat-list-item>
        </mat-list>
    </div>
    <ng-template #noInfo>
        <mat-progress-spinner class="c-profile__spinner" [mode]="mode" [diameter]="diameter"></mat-progress-spinner>
    </ng-template>
</section>
