.alert {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.alert p {
    margin: 0;
}

.alert-success {
    background-color: lightgreen;
}

.alert-danger {
    background-color: lightcoral;
}

.alert-neutral {
    background-color: lightsteelblue;
}
