<section class="c-results">
  <h1 class="c-results__heading">Add results</h1>
  <form class="c-results__form">

    <mat-form-field class="c-results__input">
      <input matInput placeholder="Event's Name"
      [matAutocomplete]="events" [formControl]="eventFormControl"
      type="text" name="eventName" [(ngModel)]="eventName">
      <mat-autocomplete #events="matAutocomplete">
        <mat-option *ngFor="let suggestion of filteredEventSuggestions | async" [value]="suggestion">
          {{suggestion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="c-results__input-short">
      <input matInput placeholder="Place" type="number" name="place" [(ngModel)]="place">
    </mat-form-field>

    <mat-form-field class="c-results__input">
      <input matInput placeholder="Athlete"
      [matAutocomplete]="athletes" [formControl]="athleteFormControl"
      type="text" name="athlete" [(ngModel)]="athlete">
      <mat-autocomplete #athletes="matAutocomplete">
        <mat-option *ngFor="let suggestion of filteredAthleteSuggestions | async" [value]="suggestion">
          {{suggestion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="onAddResult()">Add</button>
    <ul class="c-results__list">
      <li class="c-results__list_item" *ngFor="let result of results">{{result.athletes_place}}. {{result.athletes_name}}</li>
    </ul>
    <button mat-button (click)="onAddResultsSubmit()">Submit Results</button>    
  </form>
</section>
