<section class="c-ranking">
  <div *ngIf="usersPoints?.length > 0; else noTable">
    <h1 class="c-ranking__heading">Top List</h1>
    <div class="mat-elevation-z8">
      <mat-table class="c-ranking__table" #table [dataSource]="dataSource">

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.user }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="points">
          <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.points }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">

        </mat-row>

      </mat-table>

    </div>
  </div>
  <ng-template #noTable>
    <mat-progress-spinner class="c-ranking__spinner"></mat-progress-spinner>
  </ng-template>

</section>
