/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles/button.css";
@import "./styles/input.css";
@import "./styles/alerts.css";

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

.container {
    padding: 0 16px 0 16px;
    margin-left: auto;
    margin-right: auto;    
}

@media (min-width: 600px){
    .container{
        max-width: 576px;
    }    
}

@media (min-width: 960px){
    .container{
        max-width: 940px;
    }    
}

@media (min-width: 1280px){
    .container{
        max-width: 1152px;
    }    
}
