<div class="c-navbar">
    <nav mat-tab-nav-bar>
        <span *ngFor="let link of navLinks">
            <a mat-tab-link *ngIf="isLinkVisible(link.path)" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
                {{link.label}}
            </a>
        </span>
        <span class="c-navbar__logout">
            <a mat-tab-link *ngIf="isLinkVisible('logout')" (click)="onLogout()">
              Logout
            </a>
        </span>
    </nav>
</div>
