<section class="c-events">
  <h1 class="c-events__heading">New events</h1>
  <form class="c-events__form">
    <mat-form-field class="c-events__input">
      <input matInput placeholder="New Event" type="text" name="eventName" [(ngModel)]="eventName">
    </mat-form-field>
    <mat-form-field class="c-events__input">
      <input matInput placeholder="Add a participant" type="text" name="participant" [(ngModel)]="participant">
    </mat-form-field>
    <button mat-button (click)="onAddParticipant()">Add</button>
    <button mat-button (click)="onAddEventSubmit()">Submit Event</button>
  </form>
  <div class="c-events__list_section">
    <h2>{{eventName}}</h2>
    <ol class="c-events__list">
      <li class="c-events__list_item" *ngFor="let participant of participants">{{participant}}</li>
    </ol>
  </div>
</section>

