<div class="c-register">
  <form>
    <mat-form-field class="c-register__input">
      <input matInput placeholder="Name" type="text" name="name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field class="c-register__input">
      <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field class="c-register__input">
      <input matInput placeholder="E-mail" type="text" name="email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field class="c-register__input">
      <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-button (click)="onRegisterSubmit()">Register</button>
  </form>
</div>
