<div class="c-admin">
    <div class="c-admin__events">
        <app-events></app-events>    
    </div>
    <div class="c-admin__results">
        <app-results></app-results>    
    </div>      
</div>
